<form action="https://script.google.com/macros/s/AKfycbwDPVYo3uopegbt9PMf8ogLeEwjM4lsqMl9f9I7WVRE_f6gZ0jqvrMIp-XEORmUbMSaBQ/exec"method="POST">
  <label>ユーザー名: <input type="text" name="username" required></label><br><br>
  <label>ポジティブ指数 (0〜100): <input type="number" name="positive_index" min="0" max="100" required></label><br><br>
  <label>スッキリ度 (0〜100): <input type="number" name="clear_index" min="0" max="100" required></label><br><br>
  <label>満足度 (0〜100): <input type="number" name="satisfaction" min="0" max="100" required></label><br><br>
  <input type="submit" value="送信">
</form>